@font-face {
font-family: 'digital';
src:url('font/DS-DIGIT.ttf') format("truetype");
}

body{
  background: black;
}

.change {
position: absolute;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-90%);
color: cyan;
font-family: 'digital';
font-size: 175px;
}

.time{
  text-align: center;
  font-size: 30px;
  font-family: "digital";
  color: white;
  margin: 30px;
}

.font-grow{
  font-size: 60px;
  color: cyan;
}
